<html>
    <head>
        <title>Akenz1901 blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Akenz1901 Blog</a></h1>
         </div>

         <div>
             <p>published: 12.06.2020, 9:13</p>
             <h2><a href="">My first post</a></h2>
             <p>This will be a grateful story, and i will be greater than this</p>
         </div>

         <div>
             <p>published 12.06.2020, 9:13</p>
             <h2><a href="">My second post</a></h2>
             <p>God is great with all his power and might,he's the one to who can make it possible this blog will trend and make me great IJN</p>
         </div>
    </body>
</html>